footer {
    width: 980px;
    margin: 0 auto;
    margin-top: -50px;
    .footnotes {
        border-bottom: 1px solid rgba($color: #86868b, $alpha: 0.3);
        ul,
        ol {
            margin: 0;
            padding: 0;
            li {
                font-size: 12px;
                line-height: 16px;
                color: #86868b;
                margin-bottom: 10px;
            }
        }
        ul {
            list-style: none;
        }
    }

    .bradcumb {
        ul {
            li {
                display: inline;
                > a {
                    font-size: 12px;
                    line-height: 16px;
                    color: #86868b;
                    margin-bottom: 10px;
                    position: relative;
                    filter: grayscale(1);
                    display: inline-block;
                    margin-right: 29px;
                    vertical-align: middle;
                    padding: 10px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    &::before {
                        position: absolute;
                        content: "\f102";
                        font-family: Flaticon;
                        font-size: 15px;
                        right: -25px;
                        opacity: 0.3;
                    }
                    > img {
                        height: 20px;
                    }
                }
                &:last-child {
                    a {
                        &::before {
                            position: inherit;
                            display: none;
                        }
                    }
                }
                &:first-child {
                    a {
                        &::before {
                            top: 15px;
                        }
                    }
                }
            }
        }
    }

    .all_links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 30px;
            li {
                margin-bottom: 8px;
                > h3 {
                    font-size: 12px;
                    line-height: 16px;
                    color: #1d1d1f;
                    font-weight: 600;
                }
                a {
                    font-size: 12px;
                    line-height: 16px;
                    color: #86868b;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer {
        > p {
            font-size: 12px;
            line-height: 16px;
            color: #86868b;
            border-bottom: 1px solid rgba($color: #86868b, $alpha: 0.3);
            margin-bottom: 8px;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .terms_links {
            display: grid;
            grid-auto-flow: column;
            margin-bottom: 30px;
            > p {
                font-size: 12px;
                line-height: 16px;
                color: #86868b;
                margin-bottom: 8px;
                > a {
                    font-size: 12px;
                    line-height: 16px;
                    color: #86868b;
                }
            }
            > ul {
                > li {
                    display: inline-block;
                    margin-right: 20px;
                    > a {
                        font-size: 12px;
                        line-height: 16px;
                        color: #86868b;
                        text-decoration: none;
                        position: relative;
                        &::before {
                            position: absolute;
                            content: "";
                            height: 100%;
                            width: 1px;
                            font-size: 15px;
                            right: -14px;
                            opacity: 0.3;
                            background: #86868b;
                            display: b;
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
