@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProText-Regular.woff2') format('woff2'), url('../font/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProText-Light.woff2') format('woff2'), url('../font/SFProText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Semibold.woff2') format('woff2'), url('../font/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}